<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecetasLID">

        <activity android:name=".ui.SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.LoginActivity" android:exported="false" />
        <activity android:name=".ui.RegistroActivity" android:exported="false" />
        <activity android:name=".ui.MainActivity" android:exported="false" />
        <activity android:name=".ui.ResultadosActivity" android:exported="false" />
        <activity android:name=".ui.DetalleRecetaActivity" android:exported="false"
            android:hardwareAccelerated="true" />
        <activity android:name=".ui.CrearRecetaActivity" android:exported="false" />
        <activity android:name=".ui.FavoritosActivity" android:exported="false" />
        <activity android:name=".ui.ComprasActivity" android:exported="false" />
        <activity android:name=".ui.AdminActivity" android:exported="false" />
        <activity android:name=".ui.AdminUsuariosActivity" android:exported="false" />
        <activity android:name=".ui.AdminRecetasActivity" android:exported="false" />
        <activity android:name=".ui.AdminComentariosActivity" android:exported="false" />
        <activity android:name=".ui.AdminLogsActivity" android:exported="false" />
        <activity android:name=".ui.FeedActivity" android:exported="false" />
        <activity android:name=".ui.OtrosActivity" android:exported="false" />
        <activity android:name=".ui.PerfilActivity" android:exported="false" />
        <activity android:name=".ui.EditarPerfilActivity" android:exported="false" />
        <activity android:name=".ui.MiActividadActivity" android:exported="false" />
        <activity android:name=".ui.ComentariosActivity" android:exported="false" />
        <activity android:name=".ui.PerfilPublicoActivity" android:exported="false" />
        <activity android:name=".ui.NotificacionesActivity" android:exported="false" />
        <activity android:name=".ui.PrivacidadActivity" android:exported="false" />
        <activity android:name=".ui.LogrosActivity" android:exported="false" />
        <activity android:name=".ui.AcercaDeActivity" android:exported="false" />
        <activity android:name=".ui.AyudaActivity" android:exported="false" />

    </application>
</manifest>
